#title{
  background-image: linear-gradient(white, #B346FF);
  /* background-image: url(C:\Users\91958\Downloads\TinDog-Start-master\VITShop\images\gradient map.png); gradient map.png); */
}
#features{
  padding: 5% 10%;
  text-align: center;
}
#testimonials{
  text-align: center;
  font-family: "Montserrat";
  background-image: linear-gradient(#B346FF, white);
  /* background-color: #F0E9FF; */
}
#press{
  background-color: #fff;
  margin: 15px;
}
#pricing{
background-image: linear-gradient(white, #B346FF);
    text-align: center;
    padding: 4% 4%;
}
#cta{
 text-align: center;
 padding: 20px;
}

/* Footer */
#footer{
  background-image: linear-gradient( #B346FF, #F0E9FF);

  color: #000;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  /* background-color: #FAF3E3; */
}

.footer-icons{
  color: #fff;
  padding: 1%;
}

.footer-icons:hover{
  color: #7F8487;
}

h1{
  font-family: "Montserrat-Black", sans-serif;
  font-size:4rem;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container-fluid{
  padding: 3% 10%;
}

.navbar-brand{
  font-size: 2.5rem;
}

.icon{
  color: #B346FF;
  margin-bottom: 2rem;
}
.icon:hover{
  color: #CEA9FF;
}
.feat{
  margin-left: 55px;
}
.carousel-item{
    padding: 5% 10%;
}

.btn-block {
  display: block;
  width: 100%;
}

@media (max-width: 990px){
  #title{
    text-align: center;
  }
  .feat{
    margin-left: 0;
  }
}
